.found-users {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}

.found-users > li {
    cursor: pointer;
}

.select-user {
    background-color: var(--background-color);
}
