<ul class="found-users">
    {{#if foundUsers.length}} Выбирите пользователей и нажмите кнопку "Добавить" {{/if}}
    {{#each foundUsers}}
        {{{this}}}
    {{/each}}
    {{#if foundUsers.length}}
        <div>
            {{{addUsers}}}
        </div>
    {{/if}}

</ul>
