<html lang="en">

    {{> head title="Профиль" name-css="profile" }}

    <body>
        <main>
            <div class="profile-page">

                <div class="profile-wrapper">
                    <div class="profile-avatar">
                        <img src="../assets/image/Union.png" alt="avatar" />
                        <div class="profile-avatar-hover">
                            <span>Поменять аватар</span>
                        </div>
                    </div>
                    <div class="profile-name first_name">Иван</div>
                    <div class="profile-field">
                        <div class="profile-field_name">Почта</div>
                        <div class="profile-field_value email">pochta@yandex.ru</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Логин</div>
                        <div class="profile-field_value login">romka008</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Имя</div>
                        <div class="profile-field_value first_name">Роман</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Фамилия</div>
                        <div class="profile-field_value second_name">Андреевич</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Имя в чате</div>
                        <div class="profile-field_value display_name">romka008</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Телефон</div>
                        <div class="profile-field_value phone">+7 (999)-999-99-99</div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name edit-data">
                            <a href="./EditProfile/editProfile.hbs">Изменить данные</a>
                        </div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name edit-password">
                            <a href="./EditPassword/editPassword.hbs">Изменить пароль</a>
                        </div>
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name logout">Выйти</div>
                    </div>

                </div>
                <div class="profile-back-page">
                    <div class="arrow">
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
