<body>
    <main>
        <div class="login-page">

            <div class="login-wrapper">
                <div class="login-header">Вход</div>
                <form class="login-form">
                    <div>
                        {{{login}}}
                        {{{password}}}

                    </div>
                    {{{button}}}
                </form>
                {{{link}}}

            </div>
        </div>
    </main>
</body>
