.text-input {
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--text-color);
    border: none;
    border-bottom: var(--border);
    background-color: transparent;
    outline: none;
}

.text-input:focus + .text-span,
.text-input:not(:placeholder-shown).text-input:not(:focus) + .text-span {
    top: -10px;
    font-size: 9px;
}
