<html lang="en">

    {{> layout/head title="Изменить пароль" name-css="editPassword" }}

    <body>
        <div class="profile-page">

            <div class="profile-wrapper">
                <div class="profile-avatar">
                    <img src="../../assets/image/Union.png" alt="avatar" />
                    <div class="profile-avatar-hover">
                        <span>Поменять аватар</span>
                    </div>
                </div>
                <div class="profile-fields">
                    <div class="profile-field">
                        <div class="profile-field_name">Старый Пароль</div>
                        <input class="profile-field_value oldPassword" value="12345" type="password" />
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Новый пароль</div>
                        <input class="profile-field_value newPassword" value="123456789" type="password" />
                    </div>
                    <div class="profile-field">
                        <div class="profile-field_name">Повторите новый пароль</div>
                        <input class="profile-field_value againNewPassword" value="123456789" type="password" />
                    </div>
                </div>
                <button class="profile-save_newpassword">Сохранить</button>
            </div>
            <div class="profile-back-page">
                <div class="arrow">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"></path>
                    </svg>
                </div>
            </div>
        </div>
    </body>

</html>