<!DOCTYPE html>
<html lang="en">

{{> layout/head title="404" name-css="404" }}

<body>

    <div class="notfound">
        <div class="notfound-wrapper">
            <div class="notfound-header">404</div>
            <div class="notfound-description">Не туда попали</div>
            <a href="../../index.hbs">Назад к чатам</a>
        </div>
    </div>

</body>

</html>