html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.profile-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    width: 100%;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--text-color);
    padding-top: 21px;
    padding-bottom: 50px;
}

.profile-field_name {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--text-color);
}

.profile-wrapper .field:nth-last-child(4) {
    border-bottom: none;
    padding-bottom: 50px;
}

.profile-wrapper .field:nth-last-child(1) {
    border-bottom: none;
}

.edit-data,
.edit-password {
    cursor: pointer;
    background-color: #fff;
    border: none;
    align-self: flex-start;
    color: var(--blue-color);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 14px;
    padding-left: 0;
    padding-bottom: 10px;
    transition: all 0.5s ease;
}

.edit-data:hover,
.edit-password:hover {
    color: var(--text-gray-color);
    transition: all 0.5s ease;
}

.logout {
    font-size: 13px;
    border: none;
    background-color: white;
    cursor: pointer;
    color: var(--red);
    align-self: flex-start;
    padding-left: 0;
    padding-top: 10px;
}

.logout > a {
    color: var(--red);
    cursor: pointer;
}

@media (width >= 820px) {
    .profile-page {
        padding-left: 74px;
        padding-right: 10px;
    }
}
