<div class="modal-window__create-chat">
    <div class="modal">
        <div class="modal__header">
            <div class="modal__title">Окно создания чата</div>
        </div>
        {{{formAddChat}}}
        {{{buttonCloseModal}}}
    </div>

</div>
