<div class="modal-window__delete-user">
    <div class="modal">
        <div class="modal__header">
            <div class="modal__title">Удалить пользователя</div>
        </div>
        {{{foundListDeleteUsers}}}
        {{{formDeleteUsers}}}
    </div>

</div>
