<main>
    <nav class="menu">
        <ul>
            <li>
                <a href="./login">Вход</a>
            </li>
            <li>
                <a href="/signup">Регистрация</a>
            </li>
            <li>
                <a href="./profile">Профиль</a>
            </li>
            <li>
                <a href="./chats">Чат</a>
            </li>
            <li>
                <a href="./404">404</a>
            </li>
            <li>
                <a href="./500">5**</a>
            </li>
        </ul>
    </nav>
</main>
