<div class="modal-window__create-chat">
    <div class="modal">
        <div class="modal__header">
            <div class="modal__title">Окно создания чата</div>

        </div>
        {{! <div class="modal__name">Заголовок</div> }}
        {{{formAddChat}}}
        {{{buttonCloseModal}}}
        {{! <form class="modal__column">
                <input class="modal__text" type="text" placeholder="..." />
                <input class="modal__send" type="button" value="Войти" />
            </form> }}
    </div>

</div>
