<!DOCTYPE html>
<html lang="en">

{{> layout/head title="500" name-css="500" }}

<body>

    <div class="error-server">
        <div class="error-server-wrapper">
            <div class="error-server-header">500</div>
            <div class="error-server-description">Мы уже фиксим</div>
            <a href="../../index.hbs">Назад к чатам</a>
        </div>
    </div>

</body>

</html>