<div class="modal-window__add-user">
    <div class="modal">
        <div class="modal__header">
            <div class="modal__title">Добавить пользователя</div>
        </div>
        {{{foundListUsers}}}
        {{{formAddChat}}}
        {{!-- {{{buttonCloseModal}}} --}}
    </div>

</div>
