<div class="modal-window__updata-avatar-chat">
    <div class="modal">
        <div class="modal__header">
            <div class="modal__title">Обновить аватар</div>
        </div>
        <form id="form-update-avatar-chat" class="modal__form">
            <input id="avatar-chat-modal" type="file" name="avatar" accept="image/*" />
            {{{sendFile}}}
            {{{closeModal}}}
        </form>
    </div>

</div>
