.chat-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.chat-page-chats {
    width: 310px;
    min-width: 310px;
    border-right: 1px solid var(--background-color);
    background-color: var(--background-color-chats);
}

.chat-page-chats__header {
    display: flex;
    flex-direction: column;
}

.link-profile {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    letter-spacing: 0.3px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-gray-color);
    margin: 21px 10px 23px;
    border-radius: 3px;
    border: none;
    background-color: inherit;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link-profile:hover {
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

.search-block {
    display: flex;
    position: relative;
    flex-grow: 1;
    padding: 0 10px 14px;
}

.search-chat {
    padding: 10px 0 10px 30px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: none;
}

.active {
    background-color: #e4edfd;
}

.chat-page-messages-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
}

.chat-page-messages-top__left-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.messages-top__avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.chat-page-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-page__params-chat {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chat-page__params-chat:hover {
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

.chat-page-messages-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--border-color);
    padding: 11px 20px;
}

.send-message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    margin-bottom: 0;
}

.input-message {
    background-color: var(--background-color);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.send-message {
    height: 28px;
    width: 28px;
    min-width: 28px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-attachment {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-attachment:hover {
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

.chat-page-wrapper-search-block {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.chat-page__add-chat {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 50%;
    background-color: inherit;
    color: var(--blue-color);
    border: none;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chat-page__add-chat:hover {
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

.add-chat__menu {
    left: 270px;
    top: 40px;
    display: block;
    display: none;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    line-height: 14px;
    color: var(--text-color);
    background-color: #fff;
    box-shadow: 0 0 6px #99999947;
    border-radius: 12px;
    z-index: 10;
    position: absolute;
    padding: 15px 0;
}

.item-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    background-color: #fff;
    border: none;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 10px;
}

.item-menu:hover {
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

.wrapper__dark__background {
    background-color: #000;
    opacity: 0.4;
}

.params-chat__menu {
    position: absolute;
    white-space: nowrap;
    color: var(--text-color);
    z-index: 10;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    display: none;
    right: 15px;
    top: 45px;
    box-shadow: 0 0 6px #99999947;
}

.menu-visible {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
