<html lang="en">

    {{> layout/head title="Чат" name-css="chatlist" }}

    <body>
        <div class="chat-page">

            Здесь будет чат

                <div class="">
                    <a href="../../index.hbs">Назад к основной странице</a>
                </div>
        </div>
    </body>

</html>