<html lang="en">

    {{> head title="Чат" name-css="chatlist" }}

    <body>
        <main>
            <div class="chat-page">

                Здесь будет чат

                <div class="">
                    <a href="../../index.html">Назад к основной странице</a>
                </div>
            </div>
        </main>
    </body>

</html>
