@import "../styles.css";

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.chat-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    background-color: #e5e5e5;
}
