<div class="profile-avatar">
    {{{imageAvatar}}}
    <form id="myUserForm" class="myUserForm">
        <input id="avatar" type="file" name="avatar" accept="image/*" />
        {{{sendFile}}}
    </form>

</div>
