.item-menu > img {
    height: 16px;
    width: 16px;
}

.not-active-chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-gray-color);
}

.chat-avatar-user {
    width: 34px;
    height: 34px;
}
